.home-page {
  padding-top: 15px;
  background-image: url(../../assets/back-home.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.secret-hero {
    width: 200px;
}

.home-page__title {
  font-size: 14px;
}

.home-page__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}